/* Paginator styles */

.pagination > a,
.pagination > span {
  display: inline-block;
  margin-left: 5px;
  border-radius: 25px !important;
  border: none;
  color: #868c93;
  padding: 6px 12px;
  position: relative;
  float: left;
  margin-left: -12px;
  margin-right: 17px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
}

.pagination > a:hover {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
  z-index: 3;
}


.pagination > a:first-child,
.pagination > a:last-child {
  padding: 4px 12px 8px;
}

.pagination span {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}


#page-nav {
  float: none !important;
  margin-bottom: 20px !important;
  margin-left: 5px;
}

/* Extra info topbar tweaks */

@media (max-width: 480px) {
  .pre-header .list-inline li {
    margin-bottom: 2px;
  }

  .page-header-fixed .pre-header {
    opacity: 0;
  }
}

/* Menu tweak */

@media (max-width: 1024px) {
  .page-header-fixed .header-navigation {
	  height: auto !important;
  }
}

/* Typography */

p {
  line-height: 1.5 !important;
}

h4 {
  line-height: 1.5 !important;
}

.blog-posts p {
  text-align: inherit !important;
}

.blog-item .blog-info {
  margin-top: 10px !important;
}


/* Index styles */
.row-corporate {
  height: 600px; 
  background-size: cover !important; 
  overflow: hidden;
  height: 600px;
}


.flush-with-header {
  margin-top: -23px; 
}

.row-corporate img {
  height: 500px;
  margin-top: 100px;
}

.row-corporate-text-container {
  height: 600px;
}

/* Pseudo-element used to push text to center */
.row-corporate-text-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

.row-corporate-text {
  display: inline-block;
  vertical-align: middle;
  width: 99%;
}

.bg-light-1 {
  background: url('/metronic/assets/pages/img/frontend-slider/bg2_BK.jpg') no-repeat center;
}

.bg-light-2 {
  background: url('/metronic/assets/pages/img/frontend-slider/bg4.jpg') no-repeat center;
}

