/* Paginator styles */

.pagination > a,
.pagination > span {
  display: inline-block;
  margin-left: 5px;
  border-radius: 25px !important;
  border: none;
  color: #868c93;
  padding: 6px 12px;
  position: relative;
  float: left;
  margin-left: -12px;
  margin-right: 17px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
}

.pagination > a:hover {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
  z-index: 3;
}


.pagination > a:first-child,
.pagination > a:last-child {
  padding: 4px 12px 8px;
}

.pagination span {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}


#page-nav {
  float: none !important;
  margin-bottom: 20px !important;
  margin-left: 5px;
}

/* Extra info topbar tweaks */

@media (max-width: 480px) {
  .pre-header .list-inline li {
    margin-bottom: 0px;
  }

  .page-header-fixed .pre-header {
    display: none;
  }
}

